.vs/
local_feed/
/Contoso.ML.OnnxRuntime.EP.Basic/runtimes/**/native/*.dll

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
**/bin/*
