# TODO when it's released, use onnxruntime 1.13.0 instead of ort-nightly
# onnxruntime==1.13.0
--extra-index-url https://test.pypi.org/simple/
ort-nightly==1.13.0.dev20221005006
torch==1.9.0
torchaudio==0.9.0
transformers==4.6.1
